.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 400px;
}

.file-input-group {
  display: flex;
  align-items: center;

}

.file-input {
  padding: 10px;
  border: 2px dashed #007BFF;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
  width: 300px;
  transition: border-color 0.3s;
}

.file-input:focus {
  border-color: #0056b3;
}

.add-button, .remove-button {
  margin-left: 5px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}
